<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Brand -->
  <form class="form-inline" >
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-success" type="submit">Search</button>
  </form>
  
  <!-- <a class="navbar-brand" href="#">weather </a> -->

  <!-- Links -->
  
    

    <!-- Dropdown -->
    
</nav>

<div class="row ml-2">
  <div class="card mt-3   col-md-4 col-sm-6">
  <div class="card-body">Basic card
    <div><h5>Country : {{weatherdetalis.name}}</h5></div>
  <div>  <span> temp : {{weatherdetalis.main.temp}} °C </span>
    
    
  </div> 
  <div>
    <span>Main:{{weatherdetalis.weather[0].main}}</span>
  </div> 
  <div>
    <span>Description:{{weatherdetalis.weather[0].description}}</span>
  </div>

  </div>
  

</div>
</div>